.image {
    max-width: 200%; /* Ensures the image won't exceed its original size */
    height: auto; /* Allows the height to adjust based on the aspect ratio */
    width: 300px; /* Set a fixed width or any other desired value */

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
}
