<li class="button">
    <form hx-post="../api/challenges" hx-swap="outerHTML" hx-target="#challenges_list" id="this_challenge">
        <div>
            <label>Title</label>
            <input name="title" required type="text">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description" required type="text"></textarea>
        </div>
        <div>
            <label>Polygon</label>
            <input class="readonly" id="polygonId" name="polygon_id" readonly type="text"
                   value="Please select a polygon">
        </div>
        <div>
            <label for="checkmark">Active:</label>
            <input id="checkmark" name="is_active" type="checkbox">
        </div>

        <button class="btn" id="submit_button">Submit
        </button>
        <button class="btn" hx-get="../api/challenges" hx-swap="outerHTML" hx-target="#challenges_list"
                onclick="disable_form_open()"
                type="button">Cancel
        </button>
    </form>
    <script>
        enable_form_open()
        attach_listener_to_element('this_challenge', disable_form_open)
    </script>
</li>